@using InteractiveMembership.Core.Models;
@model RockawayWish.Web.Models.UserPaymentsViewModel

<section id="member-payments">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Member Center</h2>
                @*<h5><a href="@Url.Content("~/members/payments")">Dues and payments</a> | <a href="@Url.Content("~/members/info")">Profile Information</a></h5>
                <hr />*@
                <h3 style="background-color: #FFA1D5; padding: 10px; font-weight: bold">Dues &amp; Payments</h3>

                @if (Model.DuesPaymentList != null && Model.DuesPaymentList.Count > 0)
                {
                    string pairKey;
                    string duesTitle;
                    string duesId;

                    List<UserPaymentsModel> lsUserPayments = new List<UserPaymentsModel>(); ;
                    char[] delimitter = { '|' };
                    <div style="padding: 10px;">
                        <table class="table" style="text-align: center">
                            <tr>
                                <th style="text-align: center">
                                    Dues
                                </th>
                                <th style="text-align: center">
                                    <label>Payment Date</label>
                                </th>
                                <th style="text-align: center">
                                    <label>Payment Method</label>
                                </th>
                                <th style="text-align: center">
                                    <label>Amount</label>
                                </th>
                            </tr>
                            @foreach (KeyValuePair <string, List<UserPaymentsModel>> pair in Model.DuesPaymentList)
                            {
                                pairKey = pair.Key;
                                lsUserPayments = pair.Value;

                                string[] strArr = pairKey.Split(delimitter);
                                duesTitle = strArr[0];
                                duesId = strArr[1];


                                if (lsUserPayments != null && lsUserPayments.Count() > 0)
                                {
                                    foreach (var userPayment in lsUserPayments)
                                    {
                                        <tr>
                                            <td>@duesTitle</td>
                                            <td>
                                                @userPayment.PaymentDate.ToShortDateString()
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => userPayment.PaymentMethod)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => userPayment.PaymentAmount)
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>@duesTitle</td>
                                        <td style="padding: 10px; color: #ff0000; font-weight: bold;">
                                            No payments.
                                        </td>
                                        <td colspan="2" style="text-align: right;">
                                            <a class="btn btn-primary" href="@Url.Content(string.Format("~/members/payment/?appId={0}&userId={1}&paymentId={2}", Model.ApplicationId, Model.UserId, duesId.ToString()))">Make Payment</a>
                                        @*@Html.ActionLink("Make Payment", "Payment", new { appId = Model.ApplicationId, userId = Model.UserId, paymentId = new Guid(duesId), paymentTypeId = 1 }, new { @class = "btn btn-primary" })*@
                                        </td>
                                    </tr>
                                }
                            }
                            </table>
                        </div>
                }
                else
                {
                    <p style="padding: 10px; color: #ff0000; font-weight: bold;">No dues have been applied.</p>
                }

                <h5>@*<a href="@Url.Content("~/members/payments")">Dues and payments</a> |*@ <a href="@Url.Content("~/members/info")" class="btn btn-default">View Profile Information</a></h5>


            </div>

        </div>
    </div>
</section>
