@using InteractiveMembership.Core.Constants.EndPointSettings;
@model InteractiveMembership.Core.ViewModels.ActivateVM
@{
    ViewBag.Title = "Activate your account";
}

<h2>@ViewBag.Title</h2>
<hr />
@if (Model.Status == 1)
{
    <h4>We're sorry.</h4>
    <p>@Model.Message</p>
    <p>Please take a minute to tell us about your experience with us.  <a href="@Model.SiteAppSettings.ContactUsUrl)">Click here to contact us</a></p>
}
else
{
    <h4>@Convert.ToString(Model.Message)</h4>
    <p><a href="@Url.Content(string.Format("~/{0}", SiteEndPointsConfig.Login))">Click here to sign in</a></p>
}

