<section id="home">
    <div class="home-pattern"></div>
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
            <li data-target="#main-carousel" data-slide-to="2"></li>
            <li data-target="#main-carousel" data-slide-to="3"></li>
            <li data-target="#main-carousel" data-slide-to="4"></li>
        </ol><!--/.carousel-indicators-->
        <div class="carousel-inner" style="text-shadow: 4px 4px #000;">


        <div class="item responsive-image active" style="background-image: url('@Url.Content("~/Content/images/slider/slide1.jpg")'); background-size: contain;">
            <div class="carousel-caption" style="text-shadow: 2px 2px #000;">
                <div>
                    <h2 class="heading animated bounceInDown">WISH of Rockaway</h2>
                    <br />
                    <a class="btn btn-default slider-btn animated fadeIn" href="@Url.Content("~/about-wish")">Learn More</a>
                </div>
            </div>
        </div>
            <div class="item responsive-image" style="background-image: url('@Url.Content("~/Content/images/slider/slide2.jpg")')">
                <div class="carousel-caption">
                    <div>
                        @*<h2 class="heading animated bounceInDown" style="margin-bottom: 10px; color: #FF2A7F">Women</h2>*@
                        <p class="animated bounceInUp" style="margin-bottom: 0px; color: #FF2A7F; font-size: 28px;">
                            Click the link below to register<br />
                            for the run and help local families<br />
                            dealing with cancer.<br /><br />
                        </p>
                        @*<p class="animated bounceInDown" style="margin-bottom: 14px">Here's a sneak peek at the raffle prizes.</p>*@
                        <a class="btn btn-default slider-btn animated fadeIn" href="http://www.rockapulcorun.com" target="_blank">Catch a Cure</a>
                    </div>
                </div>

            </div>
            <div class="item responsive-image" style="background-image: url('@Url.Content("~/Content/images/slider/slide3.jpg")')">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInDown">Inspired</h2><br />
                        <p class="animated bounceInUp">Our 2016 Scholarship winner<br />
                                Annie Burns and her mom.
                            </p>
</div>
                </div>
            </div>
            <div class="item responsive-image" style="background-image: url('@Url.Content("~/Content/images/slider/slide4.jpg")')">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInRight">Support</h2><br />
                        <p class="animated bounceInUp">WISH of Rockaway can use your support.</p>
                        <a class="btn btn-default slider-btn animated bounceInUp" href="@Url.Content("~/donate")">Donate</a>
                    </div>
                </div>
            </div>
            <div class="item responsive-image" style="background-image: url('@Url.Content("~/Content/images/slider/slide5.jpg")')">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInRight">Help</h2><br />
                        <p class="animated bounceInUp">We are always looking for new members.</p>
                        <p><a class="btn btn-default slider-btn animated bounceInUp" href="@Url.Content("~/register")">JOIN WISH</a></p>
                    </div>
                </div>
            </div>

        </div><!--/.carousel-inner-->

        <a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>

</section>

