<section id="home">
    <div class="home-pattern"></div>
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
            <li data-target="#main-carousel" data-slide-to="2"></li>
            <li data-target="#main-carousel" data-slide-to="3"></li>
            <li data-target="#main-carousel" data-slide-to="4"></li>
        </ol><!--/.carousel-indicators-->
        <div class="carousel-inner" style="text-shadow: 4px 4px #000;">


            <div class="item responsive-image active" style="background-image: url('@Url.Content("~/Content/images/slider/slide1.jpg")'); background-size: contain;">
                <div class="carousel-caption" style="text-shadow: 2px 2px #000;">
                    <div>
                        <h2 class="heading animated bounceInDown">WISH of Rockaway</h2>
                        <br />
                        <a class="btn btn-default slider-btn animated fadeIn" href="@Url.Content("~/about-wish")">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="item responsive-image" style="background-image: url('@Url.Content("~/Content/images/slider/slide2.jpg")')">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInDown">Women</h2>
                        <p class="animated bounceInUp">
                            Red, WISH, & Blue is Friday, May, 25th.<br />
                            Tickets are still available for sale from any board member.

                            <br /><br />
                            Click below for more info.
                            
                        </p>
                        <a class="btn btn-default slider-btn animated fadeIn" href="@Url.Content("~/Content/pdf/slide2.pdf")" target="_blank">Blue Fundraiser</a>
                    </div>
                </div>
            </div>
            <div class="item responsive-image" style="background-image: url('@Url.Content("~/Content/images/slider/slide3.jpg")')">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInDown">Inspired</h2>
                        <p class="animated bounceInUp">
                            Click the link below
                            to register for the run
                            <br /> and help local families
                            dealing with cancer.
                        </p>
                        <a class="btn btn-default slider-btn animated bounceInUp" href="http://www.rockapulcorun.com" target="_blank">Catch a Cure</a>
                    </div>
                </div>
            </div>
            <div class="item responsive-image" style="background-image: url('@Url.Content("~/Content/images/slider/slide4.jpg")')">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInRight">Support</h2>
                        <p class="animated bounceInUp">WISH of Rockaway can use your support.</p>
                        <a class="btn btn-default slider-btn animated bounceInUp" href="@Url.Content("~/donate")">Donate</a>
                    </div>
                </div>
            </div>
            <div class="item responsive-image" style="background-image: url('@Url.Content("~/Content/images/slider/slide5.jpg")')">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInRight">Help</h2>
                        <p class="animated bounceInUp">
                            Our next general meeting will be held on February 2, 2018
                            at 7pm at the Belle Harbor Yacht Club.
                            <br /><br />New and current members are welcome! 
                            <br /><br />If you can't make the meeting you can click the link below to join.
                        </p>
                        <a class="btn btn-default slider-btn animated bounceInUp" href="@Url.Content("~/register")">Join</a>
                    </div>
                </div>
            </div>

        </div><!--/.carousel-inner-->

        <a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>

</section>

