@using RockawayWish.Web.ViewModels;
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<head>
    <!-- Meta -->
    <!-- Enable responsive to mobile devices -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Welcome to Wish of Rockaway</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
    <!-- Site CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">
</head>

<!-- Body -->
<body>
    <!-- Top Navigation bar -->
    @Html.Partial("_Navigation", new NavigationVM())

    <!-- Main Content -->
    @RenderBody()

    <!-- Bottom Footer  -->
    @Html.Partial("_Footer", new FooterVM())

    <!-- Javasccipt Libraries  -->
    @Html.Partial("_JsLibraries")
</body>

</html>