    <header id="navigation">
        <div class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Content("~/")"><h1><img src="@Url.Content("~/Content/images/logo2.png")" alt="logo" ></h1></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Content("~/about-wish")">About Us</a></li>
                        @*<li><a href="@Url.Content("~/photos/instagram")">Photos</a></li>*@
                        <li><a href="@Url.Content("~/donate")">Donate</a></li>
                        <li><a href="@Url.Content("~/contact-wish")">Contact Us</a></li>

                        @if (!Request.IsAuthenticated)
                        {
                            <li><a href="@Url.Content("~/register")">Join</a></li>
                            <li><a href="@Url.Content("~/signin")">Sign In</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Content("~/members")">Members</a></li>
                            <li><a href="@Url.Content("~/signout")">Sign Out</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div><!--/navbar-->
    </header> <!--/#navigation-->

