<ul>
    <li><a href="@Url.Content("~/about")" title="About"><span class="glyphicon glyphicon-star-empty"></span> <span>About</span></a></li>
    <li><a href="@Url.Content("~/events")" title="Upcoming Events"><span class="glyphicon glyphicon-list-alt"></span> <span>Upcoming Events</span></a></li>
    <li><a href="@Url.Content("~/gallery")" title="Gallery"><span class="glyphicon glyphicon-picture"></span> <span>Gallery</span></a></li>
    @*<li><a href="#" title="Instagram"><span class="glyphicon glyphicon-camera"></span> <span>Instagram</span></a></li>*@
    <li><a href="@Url.Content("~/donate")" title="Donate"><span class="glyphicon glyphicon-usd"></span> <span>Donate</span></a></li>
    <li><a href="@Url.Content("~/home/contact")" title="Contact Us"><span class="glyphicon glyphicon-envelope"></span> <span>Contact Us</span></a></li>
</ul>