@model RockawayWish.Web.Models.CarouselVM
<section id="home">
    @if (Model.Slides != null)
    {
        int slideCount = Model.Slides.Count;
        if (slideCount > 0)
        {

            <div class="home-pattern"></div>

            <!-- Carousel -->
            <div id="main-carousel" class="carousel slide" data-ride="carousel">

                <!-- Carousel Indicators-->
                @if (slideCount > 1)
                {
                    <ol class="carousel-indicators">
                        @for (int x = 0; x < slideCount; x++)
                        {
                            if (x == 0)
                            {
                                <li data-target="#main-carousel" data-slide-to="@x" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#main-carousel" data-slide-to="@slideCount"></li>
                            }
                        }
                    </ol>
                }

                <!-- Carousel Slides -->
                <div class="carousel-inner" style="text-shadow: 4px 4px #000;">
                    @foreach (var slide in Model.Slides)
                    {
                        <div class="@Convert.ToString(slide.sliderImageCSSClass)" style="background-image: url('@Url.Content(Convert.ToString(slide.sliderImage))');">
                            <div class="carousel-caption" style="text-shadow: 2px 2px #000;">
                                <div>
                                    <h2 class="@Convert.ToString(slide.headerTextCSSClass)">@Convert.ToString(slide.headerText)</h2>
                                    @if (!string.IsNullOrEmpty(slide.subheaderText))
                                    {
                                        <p class="@Convert.ToString(slide.subHeaderTextCSSClass)">
                                            @Html.Raw(Convert.ToString(slide.subheaderText))
                                        </p>
                                    }
                                    @if (slide.showButton)
                                    {
                                        <br />
                                        if (slide.buttonALinkToAURL)
                                        {
                                            <a class="@Convert.ToString(slide.buttonCSSClass)" href="@Url.Content(Convert.ToString(slide.buttonLinkURL))">@Convert.ToString(slide.buttonText)</a>
                                        }
                                        else if (slide.buttonLinkToAFile)
                                        {
                                            <a class="@Convert.ToString(slide.buttonCSSClass)" href="@Url.Content(Convert.ToString(slide.buttonFileDownload))">@Convert.ToString(slide.buttonText)</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!-- Navigation Arrows -->
                @if (slideCount > 1)
                {
                    <a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                }

            </div>
        }
        else
        {
            <!-- No slides -->
            <div>There are no slides</div>
        }
        <!-- No slides -->
        <div>There are no slides</div>
    }
    <!-- No slides -->
    <div>There are no slides</div>
</section>

